body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.indexCardDeck{
  margin-right: 0px !important;
  margin-left: 0px !important;

}

.indexCardComment{
  margin-right: 16px !important;
  margin-left: 16px !important;
  margin-top: 0px !important;
  margin-bottom: 16px !important;
}

.indexCardContainer{
  margin-top:7vh;
}

.cardTextLimit {
  white-space: nowrap;
  overflow: hidden;
  display: block;
  text-overflow: ellipsis;
}

.reframe {
  height: 150px;
  overflow: hidden;
}

.responsive-image {
  max-width: 100%;
}

.primaryColorBackground {
  background: #115571 !important;
}

.primaryColorFadeOneBackground {
  background: #2F7C85 !important;
}

.btnBlue {
  background-color: #2F7C85 !important;
  border-color: #2F7C85 !important;
}

.btnSearchTag {
  background-color: #CE8147 !important;
  border-color: #CE8147 !important;
  color: #E9E3B4 !important;
}

.btnPublicaciones {
  background-color: #CE8147 !important;
  border-color: #CE8147 !important;
  color: white !important;  
}

.btnSearchNavbar {
  background-color: #E9E3B4 !important;
  border-color: #CE8147 !important;
  color: #CE8147 !important;
}

.btnSearchNavbar:hover {
  background-color: #CE8147 !important;
  border-color: #CE8147 !important;
  color: #E9E3B4 !important;
}

.primaryColorBackground {
  background-color: #E9E3B4 !important;
}

.tertiaryColorBackground {
  background-color: #CE8147 !important;
}

.primaryColorText {
  color: #2F7C85 !important;
}

.secondaryColorText {
  color: #E9E3B4 !important;
}

.tertiaryColorText {
  color: #CE8147 !important;
}


.table-row.col-12,
.centerText {
  text-align: center;
}

.navbar-custom {
  background-color: #E9E3B4;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CE8147;
}

.nav-link:hover {
  background-color: #CE8147 !important;
  color: #E9E3B4 !important;
}

.nav-pills .show .dropdown-toggle.nav-link {
  background-color: #CE8147 !important;
  color: #E9E3B4 !important;
}

.nav-link {
  color: #CE8147 !important;
}

.nav-link.active {
  background-color: #CE8147 !important;
}

.dropdown-menu,
.dropdown-item { 
  background-color: #E9E3B4 !important; 
  color: #CE8147 !important;
}

.dropdown-item:hover {
  background-color: #CE8147 !important; 
  color: #E9E3B4 !important;
}

.table-row {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CE8147;
}

.editable-text,
.last-row {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CE8147;
}

.perfil-row {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CE8147;  
}

.searchTagContainer {
  flex: 1;
  flexDirection: row;
  justifyContent: flex-end;
  alignItems: center;
}

.textJumbo {
  word-wrap: break-word;
  word-break: break-word;
}

#SinglePublicationView .jumbotron > div {
  margin: auto !important;
  justify-content: center !important;
}

.perfil-subtitle{
  margin-top: -5px;
}

.white-text {
  color: white;
}